---
import { links } from "@/constants";
import BaseLayout from "@/layouts/base-layout.astro";
import ArrowLink from "@/components/arrow-link.astro";
import Card from "@/components/project-card.astro";

import rpciegeImg from "@/assets/rpciege.webp";
import fca00cImg from "@/assets/fca00c.webp";
import devImg from "@/assets/dev-docs.webp";
import scfImg from "@/assets/scf.webp";
import sqImg from "@/assets/stellar-quest.webp";

import stellarNetworkVisualizerImg from "@/assets/stellar-network-visualizer.webp";
import sortingImg from "@/assets/sorting-visualizer.webp";

import "@/styles/globals.css";
---

<BaseLayout>
  <div
    class="my-40 grid gap-4 md:grid-cols-[minmax(max-content,1fr)_fit-content(65ch)] max-w-7xl mx-auto items-start"
  >
    <ArrowLink href={links.EMAIL} class="md:justify-self-center">
      contact@jesmar.dev
    </ArrowLink>

    <p class="text-5xl tracking-tighter font-medium">
      Hello! I'm a Los Angeles based{" "}
      <span class="underline">Frontend Developer</span> that enjoys bringing concepts
      to life.
    </p>
  </div>

  <h2 class="text-7xl md:text-9xl font-medium">Work</h2>

  <div class="mt-16">
    <h3 class="text-5xl md:text-6xl">Stellar Development Foundation</h3>

    <div class="mt-8 space-y-10 md:space-y-20">
      <Card
        date="2024"
        description="A series of small coding puzzles aimed at teaching you the basics of Rust development for smart contracts on the Stellar network."
        src={rpciegeImg}
        technologies={["React", "Next.js"]}
        title="RPCiege"
        href={links.RPCIEGE}
      />

      <Card
        date="2023"
        description="A collection of games and tutorials designed to familiarize you with smart contracts on the Stellar network."
        src={fca00cImg}
        technologies={["React", "Next.js"]}
        title="FCAOOC"
        href={links.FCAOOC}
      />

      <Card
        date="2022"
        description="A comprehensive resource for developers and users interested in building on and interacting with the Stellar network."
        src={devImg}
        technologies={["React", "Docusaurus"]}
        title="Developer Docs"
        href={links.STELLAR_DOCS}
      />

      <Card
        date="2021"
        description="An open-application program that draws on community input to distribute awards to support projects built on Stellar and Soroban."
        src={scfImg}
        technologies={["Preact", "Cloudflare Workers"]}
        title="Stellar Community Fund"
        href={links.SCF}
      />

      <Card
        date="2021"
        description="Teaches you about Stellar operations and fundamentals in a gamified experience."
        src={sqImg}
        technologies={["React", "Vite"]}
        title="Stellar Quest"
        href={links.STELLAR_QUEST}
      />
    </div>
  </div>

  <div class="mt-28 md:mt-60">
    <h3 class="mt-16 text-5xl md:text-6xl">Personal</h3>

    <div class="mt-8 space-y-10 md:space-y-20">
      <Card
        date="2024"
        description="Navigate through the stars, view real-time activity, and discover the dynamic world of Stellar in an engaging and immersive experience."
        src={stellarNetworkVisualizerImg}
        technologies={["React", "Vite", "Three.js"]}
        title="Stellar Network Visualizer"
        href={links.STELLAR_VISUALIZER}
      />

      <Card
        date="2024"
        description="Discover the beauty of algorithms with this interactive website that visualizes sorting techniques."
        src={sortingImg}
        technologies={["React", "Vite", "Canvas"]}
        title="Sorting Visualizer"
        href={links.SORTING_VISUALIZER}
      />
    </div>
  </div>
</BaseLayout>
